/*-- scss:uses --*/
@import url(http://fonts.googleapis.com/css?family=Poppins);

/*-- scss:functions --*/

/*-- scss:defaults --*/

$presentation-heading-font: Poppins;
$presentation-font-size-root: 32px;
$body-bg: rgba(206,126,70, .75);
$body-color: #fff;

/* -- scss:mixins --*/

/*-- scss:rules --*/

.reveal {
  & h1, h2, h3, h4, h5, h6 {
    font-family: Poppins !important;
  }
  & h2 {
    margin-left: .5em;
  }
}
.reveal-viewport, .slide-background {
  background-image: url('/virga_splash.webp');
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(206,126,70, .85);
}
.sup {
  font-size: 0.5em;
  position: absolute;
  top: -5px;
}

